{% extends 'base.html' %}

{% load static %}

{% block content %}
<header>
    <div class="title">
        <h1>Django IMDb Catalogue</h1>
        <a href="{% url 'search' %}">Go to Search</a>
    </div>
    <div class="search">
        <input class="search-input"
               name="q"
               placeholder="Search for a title"
               hx-get="{% url 'partial_search' %}"
               hx-target="#results"
               hx-trigger="input delay:0.2s"
        >
    </div>
</header>
<main>
    <section id="results">
        {% include 'partial_results.html' %}
    </section>
</main>
{% endblock %}
